/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.body{
  height: 80vh;
  margin-top: 100px;
}

.choice{
  padding: 10px;
  border: 1px solid darkgray;
  border-radius: 5px;
  font-size: large;
  color: white;
  background-color: darkgray;
}

.choice:hover{
  cursor: pointer;
  background-color: rgba(118,113,51,41.45);
}

.selected{
  background-color: rgba(118,113,51,41.45);
}

button{
  padding: 5px;
  border: 1px solid darkgray;
  border-radius: 5px;
  background-color: darkgray;
}

.answer{
  border: 1px solid darkgray;
  border-radius: 5px;
  font-size: large;
  color: white;
  background-color: darkgray;
}

.correctAnswer{
  background-color: #198754;
}

.wrongAnswer{
  background-color: red;
}